@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.left {
  text-align: left;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
vertical-align: middle;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー */

// B1 ヘッダー部分の背景のカラーを変更する
#header {
    background-color: teal;
}

// B3 ヘッダーロゴの大文字固定表示を解除＆イタリック体（斜文字）にする
// B4 ヘッダーロゴの文字色は通常時ホワイト、ホバー時グレーにする
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  //text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-style: italic; 
}

#logo:hover {
  color: #808080;
  text-decoration: none;
}

// B5 各リストを太字にする、文字色はホワイト、ホバー時はグレーにする

.nav>li>a {
    color: #fff !important;
    font-weight: bold;
} 

.nav>li>a:hover{
    color: #808080 !important
} 

li .header-list {
    color: #fff !important;
    font-weight: bold;
}

li .header-list:hover {
    color: #808080 !important;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #777777;
    white-space: nowrap;
    background-color: gainsboro;
}


// B6 各リストホバー時、背景色が部分的に反転しないようにする

#dropdown-title {
    background-color: teal;
}

/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}






element.style {
}
//@media (min-width: 768px)
.container {
    width: 750px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
* {
    box-sizing: border-box;
}

div {
    display: block;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #fff;
}
html {
    -webkit-tap-highlight-color: transparent;
}

.container:before, .container:after {
    display: table;
    content: " ";
}
*:before, *:after {
    box-sizing: border-box;
}
.container:after {
    clear: both;
}
.container:before, .container:after {
    display: table;
    content: " ";
}
*:before, *:after {
    box-sizing: border-box;
}