// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#table-task-details {
   white-space:pre-wrap;
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: left;
  }
}

.cansel {
  margin-top: 10px;
}
